.char__desc {
  display: flex;
  gap: 30px;
}

.char__text {
  width: 50%;
}

.hello__msg {
  font-family: "Geologica";
  font-weight: 200;
  margin-bottom: 10px;
  font-size: 32px;
  gap: 20px;
  display: flex;
  align-items: center;
}

.hello__msg::after {
  content: "";
  height: 2px;
  background-color: white;
}

.socials_header::before {
  content: "";
  height: 2px;
  width: 70px;
  background-color: white;;
}