.hello {
  cursor: pointer;
  width: fit-content;
}

.hello__msg {
  font-family: "Geologica";
  font-weight: 200;
  margin-bottom: 10px;
  font-size: 32px;
  gap: 20px;
  display: flex;
  align-items: center;
  animation: appear 1s;
}

.title_site {
  display: flex;
}

.char__desc {
  animation: var(--animation-appear);
}

.char__desc p:not(:last-child) {
  margin-bottom: 10px;
}

.title_site::after {
  content: url("/sparkle.svg");
  transform: scale(1);
  transition: var(--transition);
}

.socials_header {
  align-items: center;
  gap: 25px;
}

.socials_header::before {
  content: "";
  height: 2px;
  width: 70px;
  background-color: var(--text-color);
  transition: var(--transition);
}

@keyframes sparkle {
  from {
    transform: scale(1);
    filter: none;
  }
  50% {
    transform: scale(1.3);
    filter: brightness(1.2);
  }
  to {
    transform: scale(1);
    filter: none;
  }
}

@media (hover: hover) {
  .hello:hover .title_site::after {
    animation: sparkle 2s ease-in infinite;
    filter: brightness(1.2);
    transform-origin: left center;
  }
}

@media (min-width: 1200px) {
  .title_site {
    gap: 20px;
  }

  .title_site::after {
    width: 70px;
  }

  .char__desc {
    display: flex;
    gap: 30px;
  }

  .char__text {
    width: 50%;
  }
}

@media (min-width: 721px) and (max-width: 1200px) {
  .title_site {
    gap: 15px;
  }

  .title_site::after {
    width: 55px;
  }

  .char__desc {
    display: flex;
    gap: 30px;
  }

  .char__text {
    width: 60%;
  }
}

@media (max-width: 720px) {
  .title_site {
    gap: 12px;
  }

  .title_site::after {
    width: 45px;
  }

  .char__text {
    width: 100%;
    margin-bottom: 26px;
  }
}