footer {
  background-color: var(--footer-color);
  color: white;
  display: flex;
  justify-content: space-between;
}

.contacts__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.copyright {
  align-self: end;
  opacity: 0.3;
  font-size: 14px;
}

@media (min-width: 1200px) {
  footer {
    padding-inline: 25vw 50px;
    padding-block: 60px;
  }
}

@media (min-width: 721px) and (max-width: 1200px) {
  footer {
    padding-inline: 7vw;
    padding-block: 30px;
  }
}

@media (max-width: 720px) {
  footer {
    padding-inline: 5vw;
    padding-block: 25px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .contacts__content {
    align-items: center;
  }

  .copyright {
    width: 100%;
    text-align: center;
  }
}