footer {
  padding-inline: 25vw 50px;
  padding-block: 60px;
  background-color: rgb(25, 22, 32);
  color: white;
  display: flex;
  justify-content: space-between;
}

.contacts__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.copyright {
  align-self: end;
  opacity: 0.3;
  font-size: 14px;
}