.about__content {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 50px;
  position: relative;
}

.about__content::before {
  content: url(src/assets/images/glass.svg);
  width: 90px;
  position: absolute;
  left: -130px;
  z-index: 0;
}

.portrait {
  width: 350px;
  cursor: pointer;
}

.about__text > p {
  width: 90%;
  margin-bottom: 20px;
  line-height: 1.4;
}