.about__content {
  display: flex;
  align-items: center;
  gap: 100px;
}

.portrait {
  width: 250px;
  aspect-ratio: 1 / 1;
  background-color: lightgrey;
  border-radius: 50%;
}

.about__text > p {
  margin-bottom: 12px;
  line-height: 1.2;
}