.about > .title_section::before {
  content: "😇";
}

.about__content {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.portrait {
  width: 350px;
  cursor: pointer;
}

.about__text > p {
  width: 90%;
  margin-bottom: 20px;
  line-height: 1.4;
}