.work__list {
  display: flex;
  gap: 30px;
  overflow: visible;
}

.card {
  height: 360px;
  width: 300px;
  flex-shrink: 0;
  background-color: lightgrey;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
  will-change: transform, width, height;
  z-index: 3;
}

.card_open {
  width: 150vw;
  height: 150vh;
  z-index: 999;
  border-radius: 0px;
}

.card_open > h3 {
  display: none;
}

@media (hover: hover) {
  .card_closed:hover {
    transform: translateY(-10px);
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);;
  }
}