header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  padding-inline: 25vw 50px;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
  animation: appear 1s ease-in-out;
}

.theme {
  padding: 0;
}

.icon_moon, .icon_sun{
  display: block;
  width: 40px;
  height: 40px;
  fill: var(--text-color);
  transition: var(--transition);
}