header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  padding-inline: 25vw 50px;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
  animation: appear 1s ease-in-out;
}

.theme {
  padding: 0;
  transform-origin: center center;
  position: relative;
}

.icon_moon, .icon_sun{
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  fill: var(--text-color);
  transition: var(--transition);
  z-index: 2;
}

.cv__highlight {
  border-radius: 10px;
}

.cv-download {
  position: relative;
}

.cv-download > p {
  position: relative;
  z-index: 3;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (hover: hover) {
  .theme:hover {
    animation: spin 1.5s;
  }

  .theme:hover .highlight, 
  .cv-download:hover .cv__highlight {
    opacity: 1;
  }

  .theme:hover .highlight {
    transform: scale(1.5);
  }

  .cv-download:hover .cv__highlight {
    transform: scaleX(1.1) scaleY(1.3);
  }
}