@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
@import './variables.css';

*, *::after, *::before {
  box-sizing: border-box;
  font-family: "Jost";
}

body {
  margin: 0;
  position: relative;
  z-index: 1;
  background: var(--bg-gradient);
}

#root {
  overflow: hidden;
}

main {
  color: var(--text-color);
}

section {
  margin-bottom: 45px;
  transition: var(--transition);
  animation: appear 1s ease-in-out;
}

h1, h2, h3, h4 {
  font-family: "Geologica";
}

h1 {
  margin-block: 0 18px;
}

h2 {
  margin-block: 0 20px;
}

h3 {
  margin-block: 0;
  font-size: 20px;
  user-select: none;
}

h4 {
  margin-block: 0 30px;
  font-size: 24px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.title_section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.title_section::before {
  text-align: center;
  font-size: 22px;
  line-height: 1;
}

.btn, .icon {
  background-color: transparent;
  height: fit-content;
  cursor: pointer;
}

.btn {
  transition: background-color, 0.5s;
  font-weight: 500;
  display: block;
}

.btn_standart {
  border-radius: 10px;
}

.btn_themed {
  color: var(--text-color);
  border: 2.5px solid var(--text-color);
}

.icon {
  border: 0;
}

.socials {
  display: flex;
  align-items: center;
  height: fit-content;
  gap: 25px;
}

.socials__item {
  position: relative;
  width: 24px;
  height: 24px;
}

.socials__icon {
  position: relative;
  height: 100%;
  aspect-ratio: 1 / 1;
  z-index: 1;
  transition: var(--transition);
}

.darkmode .socials__icon, .socials_footer {
  filter: brightness(0) saturate(100%) invert(100%) sepia(93%) 
    saturate(0%) hue-rotate(185deg) brightness(106%) contrast(106%);
}

.highlight, .cv__highlight {
  position: absolute;
  inset: 0;
  margin: auto;
  opacity: 0;
  background-color: var(--accent-color);
  transition: 0.5s ease;
  z-index: 0;
}

.highlight {
  border-radius: 50%;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (hover: hover) {
  .socials_header .socials__item:hover .highlight {
    transform: scale(2);
    opacity: 1;
  }
}

@media (min-width: 1200px) {
  *, *::after, *::before {
    font-size: 18px;
  }

  main {
    margin-inline: 25vw 15vw;
    padding-block: 50px 200px;
  }

  h1 {
    font-size: 58px;
  }
  
  h2 {
    font-size: 34px;
  }

  .btn_standart {
    padding: 15px 30px;
  }
}

@media (min-width: 721px) and (max-width: 1200px) {
  *, *::after, *::before {
    font-size: 18px;
  }

  main {
    margin-inline: 7vw;
    padding-block: 100px;
  }

  h1 {
    font-size: 48px;
  }
  
  h2 {
    font-size: 34px;
  }

  .btn_standart {
    padding: 10px 25px;
  }
}

@media (max-width: 720px) {
  *, *::after, *::before {
    font-size: 16px;
  }

  main {
    margin-inline: 5vw;
    padding-block: 20px;
  }

  h1 {
    font-size: 40px;
  }
  
  h2 {
    font-size: 30px;
  }

  .btn_standart {
    padding: 10px 20px;
  }
}