.stack > .title_section::before {
  content: "💡";
}

.stack__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  animation: appear 1.3s;
}

.stack__item, .stack__inner {
  border-radius: 10px;
}

.stack__item {
  padding: 3px;
  background-color: var(--btn-color);
  cursor: pointer;
  font-weight: 500;
}

.stack__inner {
  display: block;
  padding: 7px 17px;
  border: 2px solid var(--btn-bd-color);
}